numpy==1.15.4
urllib3==1.24.1
requests==2.21.0
python-firebase==1.2
ibm-watson==5.2.0
scikit-learn==0.20.1
nltk==3.4
geopy==1.18.0
shapely==1.6.4
pyproj==1.9.5.1
aiohttp==3.4.4
gunicorn==19.9.0
Flask==1.0.2
flask_restful==0.3.6
h5py==2.10.0
redis==2.10.6
rq==0.12.0
click==6.7
google-cloud-bigquery==1.9.0
pandas==0.24.1
tensorflow==1.14.0
tensorflow_hub==0.1.1
keras==2.2.4
boilerpipe3==1.1
six==1.13.0
