
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tier I screening</title>

   
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/classify.css" rel="stylesheet">
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Is this story worthy of additional investigation?</h3>
      </div>

      <div class="jumbotron">

        <div class="container">
          <div class="row">
            <div class="col-6">
              <a href="vet_story/{{ idx }}?geo=true" class="btn btn-lg btn-success btn-block" role="button">Yes</a>
            </div>
            <div class="col-6">
              <a href="vet_story/{{ idx }}?geo=false" class="btn btn-lg btn-danger btn-block" role="button">No</a>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5> {{ data.title }} </h5>
            </div>
          </div>
        </div>

        <br>

        <div class="container">
          <div class="row">
            <div class="col-3">
              <a href="{{ data.url }}" target="_blank"> {{ data.outlet }} </a>
            </div>
            <div class="col-9 text-right">
                {{ data.date }}
            </div>
          </div>
        </div>

        <br> 

        <div class="container">
          <div class="row">
            <div class="col-12">
              {{ data.description }}
            </div>
          </div>
        </div>

        <br>


        <div class="container">
          {% for k, v in data.locations.items() %}
            <div class="row"> 
              <div class="col-10">
                <a href="https://www.google.com/maps/preview/@{{v.coords.lat}},{{v.coords.lng}},16z" target="_blank">
                  {{ k }} 
                </a>
              </div>
              <div class="col-2">
                {{ v.relevance }}
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

      

      <footer class="footer">
        <p>&copy; Metaflux 2017</p>
      </footer>

    </div>
  </body>
</html>

